body {
   background-color: #333;
   margin: 0;
   font-family: Arial, sans-serif;
}

.chat-container {
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   height: auto;
   padding: 20px;
}

.chat-box {
   flex-grow: 1;
   overflow-y: auto; /* Tambahkan overflow-y: auto */
   display: flex;
   flex-direction: column;
   max-height: 80vh; /* Atur maksimum tinggi untuk mencegah kontainer terlalu panjang */
}

.chat-box::-webkit-scrollbar {
    width: 0; /* Atur lebar scrollbar menjadi 0 */
    display: none; /* Sembunyikan scrollbar */
 }

.message {
   margin-bottom: 15px;
   display: flex;
}

.user-message {
   justify-content: flex-end;
}

.user-message .message-content {
   background-color: #616161;
   color: #fff;
   border-radius: 10px 10px 0 10px;
   padding: 10px 15px;
   max-width: 80%;
   word-wrap: break-word;
}

.ai-message {
   justify-content: flex-start;
}

.ai-message .message-content {
   background-color: #616161;
   color: #fff;
   border-radius: 10px 10px 10px 0;
   padding: 10px 15px;
   max-width: 80%;
   word-wrap: break-word;
}

.input-container {
   display: flex;
   padding: 10px;
   background-color: #696868;
   border-radius: 20px 20px 0 0px;
   width: 100%;
   border-top: 5px solid #aa7e05;
}

.chat-input {
   flex-grow: 1;
   padding: 10px;
   border: none;
   border-radius: 20px;
   margin-right: 10px;
   background-color: #696868;
   color: white;
}

.send-button {
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   background-color: #333;
   color: white;
   cursor: pointer;
}

.send-button:hover {
   background-color: #0056b3;
}
